In [1]:
import numpy as np
import pandas as pd

# check data
import os
for dirname, _, filenames in os.walk('../data/'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

../data/news-summary\news_summary.csv
../data/news-summary\news_summary_more.csv

In [3]:
summary = pd.read_csv('../data/news-summary\\news_summary.csv', encoding='iso-8859-1')
raw = pd.read_csv('../data/news-summary\\news_summary_more.csv', encoding='iso-8859-1')

In [4]:
summary.head(2)

,author,date,headlines,read_more,text,ctext
0,Chhavi Tyagi,"03 Aug 2017,Thursday",Daman & Diu revokes mandatory Rakshabandhan in...,http://www.hindustantimes.com/india-news/raksh...,The Administration of Union Territory Daman an...,The Daman and Diu administration on Wednesday ...
1,Daisy Mowke,"03 Aug 2017,Thursday",Malaika slams user who trolled her for 'divorc...,http://www.hindustantimes.com/bollywood/malaik...,Malaika Arora slammed an Instagram user who tr...,"From her special numbers to TV?appearances, Bo..."

In [5]:
raw.head(2)

,headlines,text
0,upGrad learner switches to career in ML & Al w...,"Saurav Kant, an alumnus of upGrad and IIIT-B's..."
1,Delhi techie wins free food from Swiggy for on...,Kunal Shah's credit card bill payment platform...

In [9]:
conc1 = raw.iloc[:, 0:2].copy()
conc1["head + text"] = conc1['headlines'].str.cat(conc1['text'], sep = " ")

conc2 = summary.iloc[:, 0:6].copy()
conc2["combined text"] = conc2.apply(lambda row: " ".join(row.values.astype(str)), axis=1)

In [10]:
conc1.head(2)

,headlines,text,head + text
0,upGrad learner switches to career in ML & Al w...,"Saurav Kant, an alumnus of upGrad and IIIT-B's...",upGrad learner switches to career in ML & Al w...
1,Delhi techie wins free food from Swiggy for on...,Kunal Shah's credit card bill payment platform...,Delhi techie wins free food from Swiggy for on...

In [11]:
conc2.head(2)

,author,date,headlines,read_more,text,ctext,combined text
0,Chhavi Tyagi,"03 Aug 2017,Thursday",Daman & Diu revokes mandatory Rakshabandhan in...,http://www.hindustantimes.com/india-news/raksh...,The Administration of Union Territory Daman an...,The Daman and Diu administration on Wednesday ...,"Chhavi Tyagi 03 Aug 2017,Thursday Daman & Diu ..."
1,Daisy Mowke,"03 Aug 2017,Thursday",Malaika slams user who trolled her for 'divorc...,http://www.hindustantimes.com/bollywood/malaik...,Malaika Arora slammed an Instagram user who tr...,"From her special numbers to TV?appearances, Bo...","Daisy Mowke 03 Aug 2017,Thursday Malaika slams..."

In [12]:
pre = pd.DataFrame()
pre["combined text"] = conc1['head + text'] + conc2['combined text']

In [13]:
pre.head(2)

                                       combined text
0  upGrad learner switches to career in ML & Al w...
1  Delhi techie wins free food from Swiggy for on...

## Creat W2V model

In [15]:
import re
import pandas as pd
from time import time
from collections import defaultdict

import spacy

import logging
logging.basicConfig(format="%(levelname)s - %(asctime)s: %(message)s", datefmt= '%H:%M:%S', level=logging.INFO)

In [17]:
# data cleaning

nlp = spacy.load('en_core_web_lg', disable=['ner', 'parser'])

def cleaning(doc):

    txt = [token.lemma_ for token in doc if not token.is_stop]

    if len(txt) > 2:
        return ' '.join(txt)

OSError: [E050] Can't find model 'en_core_web_lg'. It doesn't seem to be a Python package or a valid path to a data directory.